@font-face{
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
font-family: 'Indie Flower', cursive;
}


.fraction {
    display: inline-block;
    vertical-align: middle; 
    margin: 0 0.2em 0.4ex;
    text-align: center;
}
.fraction > span {
    display: block;
    padding-top: 0.15em;
}
.fraction span.fdn {border-top: thin solid white;}
.fraction span.bar {display: none;}


.bar{
   display: inline-block;
    vertical-align: middle; 
    margin: 0 0.2em 0.4ex;
    text-align: center;  
}


.titulo{
    font-size: 80px; 
    font-family: 'Indie Flower', cursive;   
    color: white;
}

.quest{
    font-size: 30px; 
    font-family: 'Indie Flower', cursive;   
    color: white;
}

.ole{
   
    font-size: 30px; 
    font-family: 'Indie Flower', cursive;   
    color: white;
     padding-left: 480px;
}


h1{
 font-family: 'Indie Flower', cursive;   
    color: white;
    font-size: 50px;
}

h3{
    font-family: 'Indie Flower', cursive;
    color: white;
    font-size: 30px;
}

.pregunt{
     margin-bottom: 20px;
     line-height: 24px;
     color: #939393;
     position: relative;
     height: auto;
     padding: 150px;
     margin-bottom: 50px;
}

.ayuda{
     margin-bottom: 20px;
     line-height: 24px;
     color: #939393;
     position: relative;
     height: auto;
     padding: 150px;
     margin-bottom: 50px;
 }

body {
  margin: 0;
  font:normal 75% Arial, Helvetica, sans-serif;
}


/* ---- particles.js container ---- */

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.8);
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
    
}

/* ---- stats.js ---- */

.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
display: none;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}

.boton{
  
background-color: #288BC3;
background-image: -webkit-linear-gradient(rgba(40, 139, 195, .8), rgba(40, 139, 195, .2));
background-image: -moz-linear-gradient(rgba(40, 139, 195, .8), rgba(45, 194, 52, .2));
background-image: -o-linear-gradient(rgba(40, 139, 195, .8), rgba(40, 139, 195, .2));
background-image: linear-gradient(rgba(40, 139, 195, .8), rgba(40, 139, 195, .2));
-ms-border-radius:8px;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
-webkit-box-shadow: 0 8px 0 #288bc3, 0 10px 20px rgba(0, 0, 0, .4);
-moz-box-shadow: 0 8px 0 #288bc3, 0 10px 20px rgba(0, 0, 0, .4);
box-shadow: 0 8px 0 #288bc3, 0 10px 20px rgba(0, 0, 0, .4);
color: #fff;
display: inline-block;
font-family: ‘Pacifico’, Arial, sans-serif;
font-size: 30px;
line-height: 1;
padding: 15px 25px;
text-decoration: none;
text-shadow: 0 -1px 1px rgba(25, 123, 29, .7);
}

.scp-quizzes-main{ width:100%; font-family:Verdana, Arial, Helvetica, sans-serif;}
.scp-quizzes-data{
    box-shadow: 0px 1px 3px -1px #DCDCDC;
    padding:10px;
    margin-top:15px;
}
pre{ border:2px solid #f5f5f5; padding:10px; overflow-x:scroll;}
.scp-quizzes-data input[type=radio] {
    display:none;
}
.scp-quizzes-data input[type=radio] + label {
    display:inline-block;
    width:95%;
    padding:10px;
    border:1px solid #ddd;
    margin-bottom:10px;
    cursor:pointer;
}
.scp-quizzes-data input[type=radio] + label:hover{ border:1px solid #000000;}
.scp-quizzes-data input[type=radio]:checked + label {
    background-image: none;
    background-color:#0C0;
    color:#fff;
    border:1px solid #0C0 !important;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.worngans{ background-color:#F36;color:#fff; border:1px solid #F36 !important;-webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;}
.block-button {
    display: block;
    margin-bottom: 30px;
}